/* Base Styles (Mobile First) */
body {
  margin: 0;
  padding: 0;
  background-color: #D7D9CE;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

header, footer {
  text-align: center;
  padding: 10px;
}

section {
  padding: 10px;
}

/* Larger Screens (e.g., Laptops) */
@media (min-width: 768px) {
  header, footer {
    text-align: left;
    padding: 20px;
  }

  body {
    background-color: red;
    font-size: 20px;
  }

  section {
    padding: 20px;
  }
}
