/* Base Styles (Mobile First) */
.business-plan {
    background-color: #D7D9CE;
    color: #3D518C;
}

.business-plan > h1 {
    text-align: center;
    font-weight: 300;
    font-size: 2.5rem;
}

.business-plan > div {
    background-color: #D7D9CE;
    color: #1B1F3B;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.section-content > h1 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 3rem;
    background-color: #435998;
    color: #D7D9CE;
    border-radius: 1rem;
    padding: 1rem;
}

.content-points {
    display: flex;
    flex-direction: column;
}

.content-points > h4 {
    text-align: center;
    font-weight: 500;
}

.content-points > div > svg {
    margin-bottom: 1rem;
}


.content-points > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
}

div {
    
    font-weight: 300;
}
  
  /* Larger Screens (e.g., Laptops) */
  @media (min-width: 768px) {
    header, footer {
      text-align: left;
      padding: 20px;
    }
  
    body {
      background-color: red;
    }
  
    section {
      padding: 20px;
    }

    .section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-content > h1 {
        width: 40vw;
    }
  }
  