.team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.team-member {
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
  transform: scale(1.05);
}

.team-member img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.team-member img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

h2 {
  color: #131010;
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.1rem;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

h3:hover {
  color: #3D518C;
}